
.project
.settings
.classpath
target
*.log
nbproject
.buildpath
logs
nb-configuration.xml
nbactions.xml
nbactions-default.xml
.nb-gradle
build
.gradle
target/
db-data/
mvstore-data/
rocksdb-new-data/
mapdb-data/
rocksdb-data/
fs-data/
.vscode/